<nav class="navbar navbar-expand navbar-dark " >
    <div class="navbar-nav">
        <img src="../../assets/images/omniStorelogo.jpg" alt="OmniStore logo" style="width:200px; height: 42px;"/> 
      <a class="nav-item nav-link" style="color:white; " routerLink="/dashboard" >Dashboard</a>
      <a class="nav-item nav-link" style="color:white; " routerLink="/status" >Server Status</a>
      <a class="nav-item nav-link" style="color:white; " routerLink="/modify">Modify</a>
      <a class="nav-item nav-link" style="color:white; " routerLink="/servermaintenance">Server Maintenance</a>
      <a class="nav-item nav-link" style="color:white; " routerLink="/default">Ticket</a>
      <a class="nav-item nav-link" style="color:white; " routerLink="/login" (click)="Logout()">Logout</a>
      <span >{{user}} &nbsp; </span>
  </div>
  </nav>
<div class="backroundimg">
    <br> <br>
    <div class="card container" ng-app="">
        <table class="table table-stripe">
            <thead>
                <th> sno </th>
                <th> server </th>
                <th> server_instance </th>
                <th> environment </th>
                <th> port </th>
                <th> status </th>
                <th> DownTime </th>
                <th> remarks </th>
                <th> Operations </th>
            </thead>
        
            <tbody>
                <tr *ngFor = "let serverDb of servers">
                    <td> {{serverDb.sno}}</td>
                    <td> {{serverDb.server}}</td>
                    <td> {{serverDb.server_instance}}</td>
                    <td> {{serverDb.environment}}</td>
                    <td> {{serverDb.port}}</td>
                    <td> {{serverDb.status}}</td>
                    <td> {{serverDb.date}}</td>
                    <td> {{serverDb.remarks}}</td>
                    <td> <button class="btn btn-danger" (click) = "deleteServer(serverDb.sno)"> Delete </button>
                      <button class="btn btn-primary" (click)="edit(serverDb)">  Edit </button></td>
                      
                </tr>
            </tbody>
        </table>
    </div>
</div>