div.but{
    background:white;
    color:blue;
    text-align:center;
}

 div.conts {
    position: absolute;
    padding : 5px;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  div.card-container{
     
      padding:3px;
      align-items: center;
      text-align:center;

  }

  .backroundimg{
    background: url("https://images.assetsdelivery.com/compings_v2/9peaks/9peaks1409/9peaks140900049.jpg")no-repeat center center;
    background-size: cover;
     height: 100vh !important;
     
    }

    .navbar {
        padding: 14px;
        background-color: #33adff;
        
        }