div.but{
    background:white;
    color:blue;
    text-align:center;
}

 div.conts {
    position: absolute;
    padding : 5px;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

.navbar {
  padding: 14px;
  background-color: #33adff;
}



.card-container{
      
      height:100%;
      width:100%;
      padding:3px;
      align-items: center !important;
      text-align:center;
      

  }

  