<nav class="navbar navbar-expand navbar-dark " >
  <div class="navbar-nav">
      <img src="../../assets/images/omniStorelogo.jpg" alt="OmniStore logo" style="width:200px; height: 42px;"/> 
    <a class="nav-item nav-link" style="color:white; " routerLink="/dashboard" >Dashboard</a>
    <a class="nav-item nav-link" style="color:white; " routerLink="/status" >Server Status</a>
    <a class="nav-item nav-link" style="color:white; " routerLink="/modify">Modify</a>
    <a class="nav-item nav-link" style="color:white; " routerLink="/servermaintenance">Server Maintenance</a>
    <a class="nav-item nav-link" style="color:white; " routerLink="/default">Ticket</a>
    <a class="nav-item nav-link" style="color:white; " routerLink="/login" (click)="Logout()">Logout</a>
    
</div>
</nav>

<div class = "backroundimg">
<form (ngSubmit)="process()">
  <div class="card-container">

      <div class="card card-small">
          <svg class="material-icons" width="44" height="44"></svg>

          <span>server</span>
          <span>
          <form [formGroup]="form">
            <div class="form-group">
                <input type="text" formControlName="server" width="20px" [(ngModel)]="serverDb.server">
                 <div *ngIf="f.server.touched && f.server.invalid" class="alert alert-danger">
                  <div *ngIf="f.server.errors.required">server is required.</div>
                 </div>
            </div>
          </form>
        </span>
      </div>



      <div class="card card-small">
          <svg class="material-icons" width="44" height="44"></svg>

          <span>Server Instance</span>
          <span>
          <form [formGroup]="form">
            <div class="form-group">
                 <input type="text" width="20px" formControlName ="server_instance" [(ngModel)]="serverDb.server_instance">
                 <div *ngIf="f.server_instance.touched && f.server_instance.invalid" class="alert alert-danger">
                 <div *ngIf="f.server_instance.errors.required">server-instance is required.</div>
                 </div>
            </div>
          </form>
        </span>
      </div>


      <div class="card card-small">
          <svg class="material-icons" width="44" height="44"></svg>

          <span>Environment</span>
          <span>
          <form [formGroup]="form">
            <div class="form-group">
                  <input type="text" width="20px" formControlName="environment" [(ngModel)]="serverDb.environment">
                  <div *ngIf="f.environment.touched  && f.environment.invalid" class="alert alert-danger">
                    <div *ngIf="f.environment.errors.required">enviroment is required.</div>
                  </div>
            </div>
            </form>
            
        </span>
      </div>



      <div class="card card-small">
          <svg class="material-icons" width="44" height="44"></svg>

          <span>Port</span>
          <span>
          <form [formGroup]="form">
            <div class="form-group">
              <input type="number" width="20px"formControlName= "port" [(ngModel)]="serverDb.port">
              <div *ngIf="f.port.touched  && f.port.invalid" class="alert alert-danger">
                <div *ngIf="f.port.errors.required">port is required.</div>
              </div>
            </div>
          </form>
        </span>
      </div>


      <div class="card card-small">
          <svg class="material-icons" width="44" height="44"></svg>

          <span>Down time</span>
          <span>
        <form [formGroup]="form">
          <div class="form-group">
            <input type="datetime-local" width="20px"formControlName="downtime" [(ngModel)]="serverDb.date">
            <div *ngIf="f.downtime.touched  && f.downtime.invalid" class="alert alert-danger">
              <div *ngIf="f.downtime.errors.required">downtime is required.</div>
            </div>
          </div>
        </form>
            
        </span>
      </div>



      <div class="card card-small">
          <svg class="material-icons" width="44" height="44"></svg>

          <span>Status</span>
          <span>
    <form [formGroup]="form">
      <div class="form-group">
           <input type="text" width="20px" formControlName="status" [(ngModel)]="serverDb.status">
            <div *ngIf="f.status.touched && f.status.invalid" class="alert alert-danger">
             <div *ngIf="f.status.errors.required">status is required.</div>
            </div>
      </div>
    </form>
       </span>
      </div>
      <br>

      <div class="card card-small">
          <form>
              <textarea id="remarks" name="remarks" rows="4" cols="50" [(ngModel)]="serverDb.remarks" placeholder="write your remarks here"> 
      </textarea>
          </form>
      </div>

      <br>

      <div class="but">

          <span><button type="submit" class="btn btn-success"(click)="addServer()"(click)="goBack()" [disabled]="!form.valid"> Save </button></span>

          <span> <button type="button" class="btn btn-danger"(click)="goBack()"> Back </button></span>
      </div>
  </div>
</form>
</div>