

<nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/dashboard" >Dashboard</a>
    <a class="nav-item nav-link" routerLink="/status" >Server Status</a>
    <a class="nav-item nav-link" routerLink="/modify">Modify</a>
    <a class="nav-item nav-link" routerLink="/servermaintenance">Server maintainance</a>
    <a class="nav-item nav-link" routerLink="/default">Ticket</a>
    <a class="nav-item nav-link" routerLink="/login" >Logout</a>
    <span >{{user}} &nbsp; </span>
</div>
</nav>
<br> <br> 




<div class="card bg-light">
    
      
  
 



  <div class="card-container">
    <div class="card card-small"  tabindex="0">
        <svg class="material-icons"  width="44" height="44" ></svg>
      <b routerLink="/servermaintenance">Server Maintainance</b>
    </div>
  </div>
  <br> <br>




  <div class="card-container">
    <div class="card card-small" tabindex="0">
      <svg class="material-icons"  width="44" height="44" ></svg>
      <b routerLink="/modify">modify environment</b>
    </div>
 </div>

<br> <br>




  <div class="card-container">
    <div class="card card-small" tabindex="0">
        <svg class="material-icons"  width="44" height="44" ></svg>

      <b routerLink="/status"  >server status</b>
    </div>
    <br> <br> <br> <br>
  </div>

  <div class="card-container">
    <div class="card card-small" tabindex="0">
      <svg class="material-icons"  width="44" height="44" ></svg>

      <b routerLink="/default">Ticket</b>
    </div>
  <br> <br>
  </div> 
</div>